{% extends 'layout.html' %}

{% block title %}
    Create Ticket
{% endblock %}

{% block content %}
 <section>
    <nav class='tickets-nav-bar-body'>
        <ul class='tickets-nav-bar-list'>
            <li class='tickets-nav-bar-text'>Create Ticket<li>
        </ul>
    </nav>
    <form class='create-ticket-form' action="{% url 'inventory:create-item' %}" method='post'enctype='multipart/form-data'> <!-- enctype means encoding type (needed because an image can be inserted) -->
    {% csrf_token %}
    {{form}}
    <button class='create-form-submit' type=submit>Create Ticket</button>
 </section>
{% endblock %}