{% extends 'layout.html' %}

{% block title %}
    Stock List
{% endblock %}

{% block content %}
<section>
    <nav class='tickets-nav-bar-body'>
        <ul class='tickets-nav-bar-list'>
            <li class='tickets-nav-bar-text'>Tickets<li>
        </ul>
    </nav>

    {% if inventory %}
       <section class='table-section'>
            <table class="stock">
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th>Request</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Reporter</th>
                        <th>Created</th>
                    </tr>
                <thead>
                <tbody>
                    {% for stock in inventory %}
                        <tr>
                            <td class="
                                {% if stock.importance == 'High' %}priority-high
                                {% elif stock.importance == 'Medium' %}priority-medium
                                {% elif stock.importance == 'Low' %}priority-low
                                {% endif %}
                            ">
                                {{ stock.importance }}
                            </td>
                            <td>
                                <a class='stock-link' href="{% url 'inventory:page' slug=stock.slug %}"> 
                                {{ stock.name }}
                                </a>
                            </td>
                            <td>{{ stock.amount }}</td>
                            <td class="
                                {% if stock.status == 'Pending' %}status-pending
                                {% elif stock.status == 'Ordered' %}status-ordered
                                {% elif stock.status == 'Denied' %}status-denied
                                {% elif stock.status == 'Delivered' %}status-delivered
                                {% endif %}      \
                            ">  <!-- last one not as important -->
                                {{ stock.status }}
                            </td>
                            <td>{{ stock.createdBy }}</td>
                            <td>{{ stock.createdAt }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </section>
    {% else %}
        <p class='no-reqs'>No requests have been made.</p>
    {% endif %}
</section>
{% endblock %}