{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<section>
    <nav class='tickets-nav-bar-body'>
        <ul class='tickets-nav-bar-list'>
            <li class='tickets-nav-bar-text'>Home<li>
        </ul>
    </nav>
</section>
<section class = home-box-section>

    <div class='home-box1'>
        <h1 class='home-box-headers'>My Project</h1>

        <p class='home-box-text'>This site has been developed using Python and the Django framework. This choice was influenced by my experience at Capula where python is the primary language used by developers.<p>
        <p class='home-box-text'>The reason I chose to develop a website is because I have previously completed a JavaScript website coding project with Multiverse. Therefore, I could focus more on Python as I already have experience in HTML and CSS, as well as a basic understanding of SQL. </p>
    </div> 

    <div class='home-box2'>
        <h1 class='home-box-headers'>What is Django?</h1>
        <p class='home-box-text'>'Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.'</p>
        <p class='home-box-text'>(https://www.djangoproject.com/, 2024)</p>
    </div> 

    <div class='home-box3'>
        <h1 class='home-box-headers'>What is the purpose of this project?</h1>
        <p class='home-box-text'>This project is designed to assist our infrastructure team in managing requests. Since these requests require manager approval, the website provides an efficient way for the manager and the rest of the team to review and respond to them.</p>
    </div> 

    <div class='home-box4'>
        <h1 class='home-box-headers'>How to use my site</h1>
        <p class='home-box-text'>My site can be used by creating an account, which will then be stored in the database. Once logged in, users will be able to view and create tickets. A GET request from the database will then display the username on the ticket.</p>
        <p class='home-box-text'>In the 'Tickets' page you can get an overview of all tickets. The idea is to create an easy to navigate platform so that tickets can be quickly filtered through.</p>
        <p class='home-box-text'>The 'Create Ticket' form is user friendly, so it can be used across different projects and scenarios. It allows users to input key details as well as an image.</p>
        <p class='home-box-text'>Finally, the 'Admin' page allows users who have certain permissions to view and create tickets, but, also update or delete them. They also have access to view all accounts which is very useful for our infrastructure team.</p>
    </div> 

    <div class='home-box5'>
        <h1 class='home-box-headers'>Where could I take this in the future?</h1>
        <p class='home-box-text'>In the near future I hope to add some more quality of life features such as a search bar, a way to filter through tickets and update/delete buttons on the ticket view page allowing users to edit tickets they have raised.</p>
        <p class='home-box-text'>If I was to continue to work on this in the future, I would like to add a way so logged in users can only see their own tickets, unless they have admin permissions which would allow them to see the complete overview.</p>
        <p class='home-box-text'>There are a few more quality of life features that could improve the application, these could be a history overview of all tickets and a way to generate a report on how many tickets have been created, denied and accepted over a period of time and what they contained. However, I aim to move on and develop better and more complex appplications or other programs to expand my portfolio.</p> 
    </div> 


</section>
{% endblock %}