{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<section>
    <nav class='tickets-nav-bar-body'>
        <ul class='tickets-nav-bar-list'>
            <li class='tickets-nav-bar-text'>Home<li>
        </ul>
    </nav>

    <div>
        <h1>My Project</h1>

        <p>This site has been developed using Python Django. I chose this because at Capula, where I work, Python is used by the majority of developers and is one of if not the most popular coding languages in use today. </p>
        <p>The reason I chose to develop a website is beacuase I thought as I had completed a website coding project before this would mean I could focus more on the Python side of things as I already has experience in HTML and CSS as well as a basic understanding of SQL. </p>
    </div> 

    <div>
        <h1>What is Django?</h1>
        <p> Well I'll let them tell you. 'Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.' </p>
    </div> 

    <div>
        <h1>What is the purpose of this project?</h1>
        <p></p>
    </div> 

    <div>
        <h1>How to use my site</h1>
        <p></p>
    </div> 

    <div>
        <h1>Where could I take this in the future?</h1>
        <p></p>
    </div> 


</section>
{% endblock %}