<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <script src='{% static 'js/main.js' %}' defer></script>
    <link rel='stylesheet' href='{% static 'css/style.css' %}'> 
</head>
<body>
    <nav class="navbar">
        <a href="https://www.capulaglobal.com" class="logo" target="_blank">
            <img src="{% static 'Images/capula-green background.png' %}" alt="Capula Logo">
        </a>
        <ul class="nav-list"> 
            <li><a href='/'>Home</a></li>
            {% if user.is_authenticated %}
                <li><a href='{% url 'inventory:list' %}'>Inventory</a></li>
                <li><a href='{% url 'inventory:create-item' %}'>Create Ticket</a></li>
            {% else %}
            <li><a href='{% url 'users:register' %}'>Sign Up</a></li>
            <li><a href='{% url 'users:login' %}'>Log In</a></li>
            {% endif %}
        </ul>
        <div class = "rightNav">
            <ul class = "nav-list">
            <li><a href='/admin'>Admin</a></li>
            {% if user.is_authenticated %}
                <li> <form class="logout" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class = "logout-button">Log Out</button>
                </form></li>
            {% endif %}
            </ul>
           
        </div>
    </nav>

    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>